@import 'reset.css.scss';
@import 'fonts.css.scss';
@import 'variables.css.scss';
@import 'mixins.css.scss';
@import 'view-1.css.scss';
@import 'sidebar.css.scss';
@import 'social-media.css.scss';

body{
   background: $white;
   color: $black;
}
.container{
   display: grid;
   grid-template-columns: repeat(10, 1fr);
   grid-template-rows: auto;
}
