@import 'reset.css.scss';
@import 'fonts.css.scss';
@import 'variables.css.scss';
@import 'mixins.css.scss';


body{
   background: $white;
   color: $black;
}
h1{
   font-size: $font-extra-large;
   font-family: $primary-font;
   font-weight: $font-weight-5;

   letter-spacing: 15px;
}
h2{
   font-family: $primary-font;
   font-size: $font-small;
   font-weight: $font-weight-4;
}
.about{
   font-family: $primary-font;
   font-weight: $font-weight-1;
   width: 550px;
}
.cover{
   height: 300px;
   width: 300px;
   img{
      height: inherit;
      width: inherit;
      box-shadow: rgba(0,0,0,.2) 6px 20px 24px;
   }
}
.sidebar{
   background: $grey;
   font-family: $primary-font;
   font-weight: $font-weight-2;
   font-size: $font-base;
   height: 100vh;
   width: 20vw;
   color: $white;
}
.social-media{
   transform-origin: top;
   width: 101vh;
   position: fixed;
   height: 45px;
   transform: rotate(-90deg) translateX(123vh) translateY(69vw);
   ul{
      list-style: none;
      margin: auto;
      width: 80vh;
      li{
         @include social-link;
      }
      li:hover{
         @include social-link-hover;
      }
   }
}
