.social-media{
   display: flex;
   flex-direction: column;
   justify-content: center;

   grid-column: 10/11;
   transition:all .5s ease-out;
   ul{
      list-style: none;
      overflow: hidden;

      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      align-self: flex-end;

      margin-right: 25px;
      padding-left: 25px;
      li{
         height: 130px;
         writing-mode: vertical-lr;
         transform: rotate(180deg);
         transform-origin: center center;
         list-style-type: none;
         text-align: center;
      }
      li a{
         @include social-link;

      }
      li a:visited {
         @include social-link;
      }
      li a:hover{
         @include social-link-hover;
      }

   }
}
.social-media-off{
   opacity: 0;
}
