//--COLORS------
$white: #FFFFFF;
$black: #000000;

$grey : #4C4C4C;
$light-grey:#7C7C7C;
$dark-grey: #00272B;

$light-green: #16DB93;
$pink: #EA579C;
$red: #E71D36; // or D72638
$light-blue: #01BAEF;
$dark-blue: #011627;
$purple: #7D57EA;

//--Z-Index-----
$zIndex-1:   100;
$zIndex-2:   200;
$zIndex-3:   300;
$zIndex-4:   400;
$zIndex-5:   500;
$zIndex-6:   600;
$zIndex-7:   700;
$zIndex-8:   800;
$zIndex-9:   900;
$zIndex-10: 1000;

//--Font-size-----
$font-small: 14px;
$font-base: 16px;
$font-large: 32px;
$font-extra-large: 50px;

//--Font-Face-----
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Roboto', sans-serif;

//--Font-Weight---
$font-weight-1: 300;
$font-weight-2: 400;
$font-weight-3: 600;
$font-weight-4: 700;
$font-weight-5: 800;
