$white: #FFFFFF;

$grey : #4C4C4C;
$light-grey:#7C7C7C;
$dark-grey: #00272B;

$light-green: #16DB93;
$pink: #EA579C;
$red: #E71D36; // or D72638
$light-blue: #01BAEF;
$dark-blue: #011627;
$purple: #7D57EA;
