.view-1{
   width: 75vw;
   grid-column: 3/9;
   opacity: 1;
   transition: all .5s ease-out;
   .content{
      display: flex;
      transform: translate(-8vw,27vh);
      .cover{
         height: 22vw;
         width: 22vw;
         img{
            height: inherit;
            width: inherit;
            box-shadow: rgba(0, 0, 0, 0.15) 6px 10px 35px;
         }
      }

      .desc{
         margin-left: 20px;
         transform: translateY(-.6vw);
         h1{
            font-size: $font-extra-large;
            font-family: $primary-font;
            font-weight: $font-weight-4;
            letter-spacing: 15px;
            transition: all .3s;
            color: $dark-grey;
            /*
            background: linear-gradient(to right, #11998e, #38ef7d);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            */
         }
         h2{
            font-family: $primary-font;
            font-size: $font-small;
            font-weight: $font-weight-3;
            letter-spacing: .5px;
         }
         .about{
            font-family: $primary-font;
            font-weight: $font-weight-1;
            font-size: $font-base;
            width: 45vw;
            margin-top: 3.5vw;
         }
      }
   }
}
.view-1-off{
   transform: translateX(20vw);
   opacity: 0;
}
