<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
      <%= stylesheet_link_tag 'site' %>
   </head>
   <body>
      <%= yield %>
   </body>
</html>
