<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Rasik Raj | Portfolio</title>
      <%= stylesheet_link_tag 'site' %>
   </head>
   <body>
      <%= yield %>
   </body>

   <%= javascript_include_tag 'site' %>
</html>
